@using MudBlazor
@inherits LayoutComponentBase

<div class="page">
    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>